body {
    background-attachment: fixed;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: left;
}

#signup-step {
    padding-top: 20px;
    padding-bottom: 20px;
    
    padding-left: 0;
    background-color: transparent;

}

#signup-step li {
    list-style: none;
    float: left;
    background-color: #ffffff;
    margin-right: 4%;
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

.active {
    color: #FFF;
}

#signup-step li.active {
    background-color: #71A306;
}


input[type=text],
input[type=password] {
    padding: 1%;
    width: 100%;
    color: #FFFFFF;
    font-family: 'Blinker', sans-serif;
    font-weight: 100;
    font-size: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 0.25px solid white;
}


.demoInputBox {
    padding: 5px;
    border: none;
    height: auto;
    border-bottom: 1px solid white;
    border-radius: 0px;
    color: #FFFFFF;
    background-color: transparent;
    width: 50%;
}

.signup-error {
    color: #FF0000;
    padding-left: 15px;
}

.message {
    color: #fb4314;
    font-size: 19px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.tLink {
    size: 12px;
    padding-left: 10px;
    text-align: center;
}


.col-sm-4 {
    width: auto;

}

.form-1 {
    color: black;
    font-family: 'Blinker', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 30px;
    padding-bottom: 150px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: auto;
    background-color: #A1C357;
    color: #FFFFFF;
    left: 50%;
    bottom: 0%;
    margin-bottom: 0%;
    transform: translate(-50%, 0%);
    position: fixed;
}

.btn-primary {
    padding: 10px 10px;
    bottom: 100%;
    transform: translate(0%, 0%);
    margin-bottom: 2%;
    font-size: 100%;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #5A821A;
    border: none;
    width: 50%;
    font-family: 'Blinker', sans-serif;
    text-transform: uppercase;
    border-radius: 50px;
    text-align: center !important;
}

.btn-primary:hover,
.btn-primary:any-link {
    background-color: #5A821A;
    color: #FFFFFF;
}

input:focus {
    outline: none;
    background: none;
}

.image1 {
    width: 100%;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

h1 {
    font-family: 'Blinker', sans-serif;
    font-weight: 600;
    margin-top: 10%;
}

h3 {
    font-family: 'Blinker', sans-serif;
    font-weight: 300;
}


@media only screen and (max-width: 576px) {
    .image1 {
        width: 100%;
    }

    h1 {
        font-size: 250%;
    }

    h3 {
        font-size: 110%;
    }

    .btn-primary {
        width: 60%;
        font-size: 100%;
        display: block;
    }

    .form-1 {
        width: 100%;
        padding-right: 12%;
        padding-left: 12%;
        padding-top: 3%;
        padding-bottom: 20px;
    }

}


@media only screen and (min-width: 577px) and (max-width: 768px) {
    .image1 {
        width: 90%;
    }

    h1 {
        font-size: 250%;
    }

    h3 {
        font-size: 100%;
    }

    .btn-primary {
        width: 50%;
        font-size: 100%;
        display: block;
    }

    .form-1 {
        width: 90%;
        padding-right: 12%;
        padding-left: 12%;
        padding-top: 1%;
        padding-bottom: 30px;
    }

}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .image1 {
        width: 80%;
    }

    h1 {
        font-size: 250%;
    }

    h3 {
        font-size: 100%;
    }

    .btn-primary {
        width: 50%;
        font-size: 100%;
        display: block;
    }

    .form-1 {
        width: 80%;
        padding-right: 12%;
        padding-left: 12%;
        padding-top: 3%;
        padding-bottom: 55px;
    }

}


@media only screen and (min-width: 993px) {
    .image1 {
        width: 35%;
    }

    h1 {
        font-size: 250%;
    }

    h3 {
        font-size: 100%;
    }

    .btn-primary {
        width: 60%;
        font-size: 100%;
        display: block;
    }

    .form-1 {
        width: 35%;
        padding-right: 6%;
        padding-left: 6%;
        padding-top: 1%;
        padding-bottom: 30px;
    }



}
